@media screen and (max-width:428px){
    .hide h3{
        color: blue;
    }
    .mobile-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px ;
    }
    .first__mobile-items{
        display: flex;
        gap: 2px;
        flex-direction: column;
    }
    .first__mobile-items img{
       margin: auto;
    }
}
@media screen and (min-width:428px) {
    .hide{
        display: none;
    }
}